@{
    ViewBag.Title = "Cadastro da Instituição";
}

@Html.ValidationSummary(true)
<div class="row col-sm-5">
    <div class="panel panel-info panel-title">
        <div class="panel-heading">Cadastro do Instituição</div>
        <p></p>
        @using (Html.BeginForm("Create", "Instituicao", FormMethod.Post,
        new { @class = "form-horizontal", @role = "form" })) {
        <div class="form-group">
            <label for="ICnpj" class="col-sm-2 control-label">CNPJ</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="CNPJ"
                       name="Cnpj" id="Cnpj">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="INome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Nome"
                       name="Nome" id="Nome">
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-md-offset-7">
                <div class="btn-group btn-group-sm">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    <a href="@Url.Action("Index", "Instituicao")" class="btn btn-info btn-sm">Voltar</a>
                </div>
            </div>
        </div>
}
    </div>
</div>
