@{
    ViewBag.Title = "Sobre o Sistema";
}

<div class="row col-sm-10">
    <div class="panel panel-info panel-title">
        <div class="panel panel-heading">Sobre o Sistema</div>
        <p></p>
        <div class="panel panel-body">
            <p> Este sistema é desenvolvido em ASP.NET com o auxilio  do professor Marcos Miguel.</p>
            <p> Utilizaremos o Sistema MVC para desenvolvimento de sistemas.</p>
        </div>
            <div class=" panel-footer">

            </div>
    </div>
</div>