@{
    ViewBag.Title = "Contato";
}
<div class="row col-sm-10">
    <div class="panel panel-info panel-title">
        <div class="panel panel-heading">Sobre o Desenvolvedor      </div>
        <p></p>
        <div class="panel panel-body">
            <div class="row col-sm-4">
                <img src="~/Content/img/eu.jpg" height="200" width="200" class="img-thumbnail"/>
            </div>
            <div class="row col-sm-6">
                <p>Desenvolvedor: Thiago Alexsander Petermann</p>
                <p>Endereço: Rua padre Edmundo </p>
                <p>Nº: 10 APT: 303</p>
                <p>Telefone: (32) 99167-1556</p>
                <p>E-mail: peterfuc@hotmail.com</p>
            </div>
        </div>
        <div class=" panel-footer">
            
        </div>
    </div>
</div>